
.card{
    height: 200px;
    width: 300px;
    margin: 30px;
    background-color: #DCBBFC;
    border-radius: 20px;
}
.card p{
    text-align: justify;
}
.card h1{
    margin: 0px;
}
.button{
    display: flex;
    justify-content: center;
}
.button button{
    margin: 0px 20px 20px 20px;
}
.card button{
    border: none;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: 0.5s;
    padding: 10px 20px;
}

.card button:hover {
    background-color: #646cff;
  }